@import "./global";
@import "./components/nav";
@import "./components/main-content";
@import "./components/footer";

body {
  background: $primary-color;
  font-family: mainFont;
  color: $text-color;
}
