nav {
  background: $second-color;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  @include flexBox(center, space-between);
  .brand-name {
    @include flexBox(center, center);
    gap: 20px;
    h1 {
      font-size: 35px;
      color: $third-color;
    }
  }
  .nav-list-items {
    @include flexBox(center, center);
    gap: 30px;
    a {
      color: $third-color;
      font-weight: bold;
      text-decoration: none;
      position: relative;
      padding: 10px 0;
      &:hover {
        color: darken($third-color, 15%);
      }
      &:not(:last-child)::before {
        content: "";
        transition: 200ms;
        transform-origin: bottom;
        position: absolute;
        bottom: 0;
        transform: scale(0);
        width: 100%;
        height: 6px;
      }
      &:not(:last-child):hover::before {
        transform: scale(1);
        background-color: darken($third-color, 15%);
      }
    }
    .login-button {
      a {
        background: $third-color;
        padding: 10px 20px;
        font-size: 17px;
        border-radius: 5px;
        text-decoration: none;
        color: $second-color;
        &:hover {
          background-color: darken($third-color, 15%);
        }
      }
    }
  }
}
