@font-face {
    font-family: mainFont;
    src: url(../fonts/RobotoFlex-Regular.ttf);
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    text-align: center;
}
.menus {
    background-color: #101025;
    padding: 10px;
    position: absolute;
}
#top-menu {
    right: 0;
    width: 20%;
    height: 100%;
    border-left: solid 1px #666;
}
#left-menu {
    bottom: 0;
    width: 80%;
    height: 20%;
    border-top: solid 1px #888;
}
#main-context {
    background-color: #18183a;
    cursor:pointer;
    position:absolute;
    width: 80%;
    height: 80%;
    overflow: hidden;
}
#canvas {
    background-color: #99b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#create-project {
    background-color: #fad500;
    width: 100%;
    color: #071d5a;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
body {
    background: #001d6e;
    font-family: mainFont;
    color: #ede6db;
}