@charset "UTF-8";
@font-face {
  font-family: mainFont;
  src: url(../fonts/RobotoFlex-Regular.ttf);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: #071d5a;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav .brand-name h1 {
  font-size: 35px;
  color: #fad500;
}
nav .nav-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .nav-list-items a {
  color: #fad500;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
}
nav .nav-list-items a:hover {
  color: #ae9400;
}
nav .nav-list-items a:not(:last-child)::before {
  content: "";
  transition: 200ms;
  transform-origin: bottom;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  width: 100%;
  height: 6px;
}
nav .nav-list-items a:not(:last-child):hover::before {
  transform: scale(1);
  background-color: #ae9400;
}
nav .nav-list-items .login-button a {
  background: #fad500;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  text-decoration: none;
  color: #071d5a;
}
nav .nav-list-items .login-button a:hover {
  background-color: #ae9400;
}

main {
  padding: 2rem 0;
}
main .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main .content header h1 {
  max-width: 600px;
  font-size: 55px;
}
main .content header .create-a-game {
  margin-top: 50px;
}
main .content header .create-a-game a {
  border-radius: 10px;
  background-color: #fad500;
  color: #071d5a;
  font-size: 25px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 300ms;
}
main .content header .create-a-game a:hover {
  background-color: #ae9400;
}
main .content header .create-a-game a:active {
  position: relative;
  top: 2px;
}

footer {
  background: #06184c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}
footer .footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 70%;
  margin: 20px 0;
  border-top: 1px solid rgba(221, 221, 221, 0.106);
  padding-top: 20px;
}
footer .footer-links .footer-links-items a,
footer .footer-links .social-media-links a {
  margin-top: 10px;
  font-size: 16px;
  color: #fad500;
  text-decoration: none;
  transition: 50ms;
  position: relative;
  padding-left: 15px;
}
footer .footer-links .footer-links-items a i,
footer .footer-links .social-media-links a i {
  margin-right: 10px;
  font-size: 18px;
}
footer .footer-links .footer-links-items a:hover,
footer .footer-links .social-media-links a:hover {
  transform: scale(0.95);
}
footer .footer-links .footer-links-items a::before,
footer .footer-links .social-media-links a::before {
  content: "»";
  transition: 150ms;
  transform-origin: left;
  position: absolute;
  left: 0;
  transform: scale(0);
}
footer .footer-links .footer-links-items a:hover::before,
footer .footer-links .social-media-links a:hover::before {
  transform: scale(1);
}
footer .footer-links .footer-links-items,
footer .footer-links .social-media-links {
  display: flex;
  align-items: flex-start;
  justify-content: auto;
  flex-direction: column;
}
footer p.copyright {
  font-size: 13px;
  opacity: 0.7;
}
footer p.copyright span {
  color: #fad500;
}

body {
  background: #001d6e;
  font-family: mainFont;
  color: #ede6db;
}

/*# sourceMappingURL=main.css.map */
